@model CoffeeMassTransit.Web.PaymentViewModel
@{
    ViewData["Title"] = "Pay";
}

@if (ViewBag.IsPaid != null)
{
    @if (ViewBag.IsPaid == true)
    {
        <div class="alert alert-success" role="alert">
            Payment OK
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Payment refused : <i>@ViewBag.Error</i>
        </div>
    }
}
else
{
    @Html.ValidationSummary()

    <form asp-action="">
        <input type="hidden" asp-for="OrderId" />
        <div class="form-group">
            <label asp-for="CardNumber">CardNumber</label>
            <input asp-for="CardNumber" type="text" placeholder="1234 5678" class="form-control form-control-lg" maxlength="12" autocomplete="off" />
            <span asp-validation-for="CardNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="CC">CC</label>
            <input asp-for="CC" type="text" placeholder="123" class="form-control form-control-lg" maxlength="3" autocomplete="off"/>
            <span asp-validation-for="CC"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Pay</button>
        </div>
    </form>
}